body {
  margin: 0;
  padding: 0;
  background-color: rgb(156, 156, 169);
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-size: -300px
}

body-container {
  height: 100vh;
  max-width: 100%;
   
}

.first-div {
  margin-left: 10%;
  max-width: 100%;
  height: 650px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url(images/hbd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 8%;
  padding-bottom: 10px;
  margin-bottom: 100px;
}
.we {
  border-radius: 50%;
}
h1{
  font-size: 40px;
  border-left-style:ridge;
  border-left-color: #ed8dde;
  color: #ed8dde;
  
}

h2 {font-family: "Aclonica", sans-serif;
  font-size: 36px;
  color: #26baf0;
  
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  color: grey;
  
  
 
}
.first-section {
  display: flex;
  height: 700px;
  max-width: 100%;
  margin-left: 10%;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 20px;
  margin-right: 8%;
  background-color: whitesmoke;
  margin-top: 20px;
 
  /* align-items: center; */
}


.image {
  height: 550px;
  border-radius: 5px;
  margin-left: 45%;
  background-repeat: no-repeat;
  background-image: url(images/shape-9.png);
  background-position: 250px;
  background-size: 550px;
}
.audio1 {
  margin-left: 65%;
  border-radius: 10px;
  background-color: #c716aa;
}
.intro {
  height: 700px;
  width: 700px;
  padding: 10;
  margin-left: 80px;
  
}
.suin-div {
  height: 600px;
  width: 600px;
  /* margin-left: 45%; */
}

.second-section {
  display: flex;
 
  height: 600px;
  max-width: 100%;
  margin-left: 10%;
  padding-top: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
  margin-right: 8%;
  background-color: whitesmoke;
}
.Anzu {
  background-image: url(images/sun1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 60%;
  height: 500px;
  padding: 10px;
}
.Anzu-div {
  height: 500px;
  padding: 10px;
  background-image: url(images/hbd2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 30%;
}
.third-section {
  display: flex;
  height: 650px;
  max-width: 100%;
  margin-left: 10%;
  background-image: url(images/sush-letter.jpg);
  background-repeat: no-repeat;
  background-size: 400px;
  margin-bottom: 20px;
  background-position: right;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 20px;
  background-color: whitesmoke;
  margin-right: 8%;
}
/* .sush{
  margin-right: 40px;
  

} */
#Sush {
  border-radius: 20px;
  margin-right: 15%;
}
.sush-div {
  text-align: center;
  margin-right: 30px;
  padding-right: 30px;
  width: 400px;
}
.sush-content {
  background-image: url(images/shape-7.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: top;
}

.fourth-section {
  display: flex;
  height: 600px;
  max-width: 100%;
  margin-left: 10%;
  background-image: url(images/shape-6.png);
  background-repeat: no-repeat;
  background-size: 350px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-position: left;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
  margin-right: 8%;
  background-color: whitesmoke;


}
.rotna-vedio{
  margin-right: 20%;
  padding-top: 40px;
  
}
.rotna-image{ 
 height: 500px;
 width: 400px;
 margin-right: 10%;


}
.rox-vedio{
  border-style:double;
  border-top-color: #c716aa;
  
}
.roxi-vedio{
  padding-top: 20px;
  margin-top: 20px;
}

.button {
  background-color: #c716aa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  color: white;
}

/* .sush-div {
  
} */
.fifth-section {
  display: flex;
  height: 600px;
  max-width: 100%;
  margin-left: 10%;
  background-image: url(images/shape-8.png);
  background-repeat: no-repeat;
  background-size: 300px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-position: right;
  margin-bottom: 20px;
  padding-left: 20px;
  margin-right: 50px;
  background-color: whitesmoke;
  margin-right: 8%;
}
.vedio{

  margin-left: 10%;

}

.shaz{
  margin-left: 15%;
  border-radius: 20px;
  padding: 40px;
}

#rozi {
  border-radius: 10px;
}
.rozi-content {
  padding: 25px;
  margin-right: 10px;
  align-content: center;
}
.sixth-section {
  display: flex;
  height: 550px;
  max-width: 100%;
  margin-left: 10%;
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-size: 310px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-position: left;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
  margin-right: 8%;
  background-color: whitesmoke;
}
.seventh-section,
.eighth-section {
  display: flex;
  height: 650px;
  max-width: 100%;
  margin-left: 10%;
  background-image: url(images/shape-2.png);
  background-repeat: no-repeat;
  background-size: 500px;

  margin-bottom: 20px;
  background-position: left;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 20px;
  margin-right: 8%;
  background-color: whitesmoke;
}
.zinu {
  margin-left: 0px;
  border-radius: 10px;
}
.zinu-poem {
  margin-left: 20%;
  margin-top: 40px;
}
.eighth-section {
  display: flex;
  height: 550px;
  max-width: 100%;
  margin-left: 10%;
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-size: 470px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  background-position: left;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 20px;
  margin-right: 8%;
}
.mourz-content {
  margin-left: 10%;
}
#mourz {
  border-radius: 30px;
  margin-left: 22px;
  margin-top: 10px;
}




/------------------------------------/


nav {
  background-color: #34495e;
  height: 80px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
}

#logo {height: 80px; margin-left: 20px;}

.wrapper {
  padding: 50px 50px;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
  width: 45%;
  margin: 20px;
  height: 300px;
  border: 1px solid blue;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(images/we7.jpg);}
.bg-two {background-image: url(images/we9.jpg);}
.bg-three {background-image: url(images/we4.jpg);}
.bg-four {background-image: url(images/we1\ \(2\).jpg);}
.bg-five {background-image: url(images/we1.png);}
.bg-six {background-image: url(images/49739289_10161187418595363_3641663660306202624_n.jpg);}


a {
  display: none;
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
  display: block;
}

.parent:hover a, .parent:focus a {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52,73,94,0.75);
}

.image-gallery{

  height: 1200px;
  max-width: 100%;
  /* background-color: whitesmoke; */

}



/* ----------------------FOOTER--------------------------- */

.footer-icon {
  list-style: none;
  display: inline;
}
.footer li {
  display: inline;
}
.footer li i {
  margin: 10px;
  color:#ffffff;
}
.footer {
  max-width: 100%;
  height: 200px;
  background-color: rgb(77, 76, 74);
  text-align: center;
  padding-top: 30px;}

  #h3 {
    color: rgb(245, 244, 244);
    font-size: 20px;
  }
  #h4 {
    color: rgb(253, 250, 250);
    font-size: 12px;
  }

  

/* Media Queries */
@media screen and (max-width: 960px) {
  .parent {width: 100%; margin: 20px 0px}
  .wrapper {padding: 20px 20px;}
}




.hello {display: none}





@media screen and (max-width: 799px) {
  .first-section {
    color: white;
    background-color: black;
    height: 40vh;
    font-size: 0.8em;
   

    
    
  
   
    }
   
    
  
  
}
/* @media screen and (max-width: 799px){
  .suin-div {
    height: 300px;
    width: 250;
  }

}


@media screen and (max-width: 799px) {
  .intro, .suin-div {
    color: white;
    background-color: rgb(0, 0, 0);
    width: 0%;
    height: 700px; */
    

    
   
    }
  
}
 
